.navbar {
  background-color: #af732b;
  margin-bottom: 20px;
}

.meditation {
  background-color: #338b7f;
}

.form-control:focus {
  border-color: #9a5476;
  box-shadow: 0 0 5px #9a5476;
}

.btn:hover {
  background-color: #af732b;
}

.list-group-item {
  border-color: #9a5476;
}
